---
version: 2
updates:

  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    open-pull-requests-limit: 5
    ignore:
    - dependency-name: sucker_punch
      versions:
        - "> 2.0"
    - dependency-name: i18n
      versions:
        - 1.8.10
        - 1.8.8
        - 1.8.9

  # Maintain dependencies for GitHub Actions (/.github/workflows)
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    open-pull-requests-limit: 5
    labels:
      - dependencies
    groups:
      github-actions:
        patterns:
          - "*"
