name: ci

on:
  pull_request:
    paths-ignore:
      - "**/*.asciidoc"
      - "**/*.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.asciidoc"
      - "**/*.md"

permissions:
  contents: read

jobs:
  sanity-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: elastic/oblt-actions/pre-commit@v1

  # Invokes the actual matrix workflow with the provided files.
  matrix:
    uses: ./.github/workflows/run-matrix.yml
    with:
      versionsFile: .ci/.ruby.yml
      frameworksFile: .ci/.framework.yml
      excludedFile: .ci/.exclude.yml

  # Invokes the actual matrix workflow with the provided files.
  # In this case it's for the main frameworks.
  matrix-main-frameworks:
    uses: ./.github/workflows/run-matrix.yml
    with:
      versionsFile: .ci/.ruby.yml
      frameworksFile: .ci/.main_framework.yml
      excludedFile: .ci/.exclude.yml

  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - name: Install build system
        run: .ci/scripts/install-build-system.sh
      - name: Create gem
        run: rake build
      - uses: actions/upload-artifact@v4
        with:
          name: package
          path: ./pkg/**/*

  all:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - sanity-checks
      - matrix
      - matrix-main-frameworks
      - package
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}
