name: release

on:
  push:
    tags:
      - "v[0-9]+*"
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - uses: hashicorp/vault-action@v3.0.0
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: |
            secret/apm-team/ci/apm-agent-ruby-rubygems-release apiKey | API_KEY ;
      - name: RubyGems login
        run: |
          RUBY_HOME="${HOME}/.gem"
          RUBY_CREDENTIALS_FILE="${RUBY_HOME}/credentials"
          mkdir -p "${RUBY_HOME}"
          echo '---' > "${RUBY_CREDENTIALS_FILE}"
          echo ":rubygems_api_key: ${API_KEY}" >> "${RUBY_CREDENTIALS_FILE}"
          chmod 0600 "${RUBY_CREDENTIALS_FILE}"

      - name: Install build system
        run: .ci/scripts/install-build-system.sh

      - name: rake release (only for tags)
        run: rake release
        if: startsWith(github.ref, 'refs/tags')

      - name: rake build
        run: rake build
        if:  ${{ ! startsWith(github.ref, 'refs/tags') }}

      - name: generate build provenance
        uses: github-early-access/generate-build-provenance@main
        with:
          subject-path: "${{ github.workspace }}/pkg/*.gem" 
      
  update-branch:
    needs:
      - release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - name: Setup Git
        uses: elastic/apm-pipeline-library/.github/actions/setup-git@current
      - name: Install build system
        run: .ci/scripts/install-build-system.sh
      - name: rake release:update_branch (only for tags)
        run: rake release:update_branch
        if: startsWith(github.ref, 'refs/tags')

  status:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - release
      - update-branch
    steps:
      - id: check
        uses: elastic/apm-pipeline-library/.github/actions/check-dependent-jobs@current
        with:
          needs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.isSuccess }}
      - if: ${{ always() && startsWith(github.ref, 'refs/tags') }}
        uses: elastic/apm-pipeline-library/.github/actions/notify-build-status@current
        with:
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
          slackChannel: "#apm-agent-ruby"
